*{
    margin: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
header{
    background-color: bisque;
    padding: 35px 0;
}
.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 35px;
}
.header-title{
    text-align: center;
    margin: 50px 0;
}
.header-title h1{
    font-size: 50px;
    margin-bottom: 25px;
}
.header-title p{
    font-size: 16px;
    margin-bottom: 25px;
}
.header-title button{
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    background-color: orange;
    color: #ffffff;
    margin-bottom: 30px;
}
.header-image{
    text-align: center;
}